<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">SAVOIR FAIRE</th>
      <th scope="col">MARQUES</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Caméra</td>
      <td>Keyence, Datalogique Cogniex</td>
    </tr>
    <tr>
      <td>Pneumatique</td>
      <td>Legris, Festo, Smc, Camozzi</td>
    </tr>
    <tr>
      <td>Automate API</td>
      <td>Rockwell AllenBradley, Omron, Siemens, Schneider</td>
    </tr>
    <tr>
      <td>Automate IHM</td>
      <td>Rockwell, Proface, Omron, Siemens, Kep</td>
    </tr>
    <tr>
      <td>Automate de sécurité</td>
      <td>Pilz, Sick, Schneider</td>
    </tr>
    <tr>
      <td>Bus de COM</td>
      <td>Bus, Ethernet IP, CAN, Profinet, Ethercat</td>
    </tr>
    <tr>
      <td>Robot</td>
      <td>Omron Scara, Fanuc, Yaskawa, Kuka</td>
    </tr>
    <tr>
      <td>Moteur</td>
      <td>Brocheless Schneider, AllenBradley, Beckoff</td>
    </tr>
  </tbody>
</table>